/RMMS2018.synctex.gz
/tmp/
/spbasic.bst
/svglov3.clo
/svjour3.cls
/example.eps
/.project
/.texlipse
/RMMS2018.bbl
/RMMS2018.log
/.Rhistory
/BIB
/RMMSabstract.docx
/NM_Notes.odt
/REVES/
/RMMS2018.blg
/RMMS2018.pdf
/RMMS2018.tex
