/beamerstrip3.png
/mpidr_logo_colour_en_solo.pdf
/mpidr_logo_colour_en.pdf
/Riffe_IDEM_Pres.log
/Riffe_IDEM_Pres.nav
/Riffe_IDEM_Pres.pdf
/Riffe_IDEM_Pres.snm
/Riffe_IDEM_Pres.synctex.gz
/Riffe_IDEM_Pres.toc
/mpidr/
