/DecompNote.html
/DecompNote.pdf
/PawlowskyEgozcueBrief.pdf
/m-1996-2006-struct.tex
/CaswellNote.pdf
/U1.csv
/U2.csv
/m1996high.csv
/m1996low.csv
WPNote.pdf
Figs
LabTalk.pdf
LabTalk.log
REVES2021_Riffe.pdf
REVES2021_Riffe.pptx
REVES_Riffe.log
REVES_Riffe.nav
REVES_Riffe.snm
REVES_Riffe.synctex.gz
REVES_Riffe.toc
