/mpidr/
/beamerstrip3.png
/mpidr_logo_colour_en_solo.pdf
/mpidr_logo_colour_en.pdf
/RMSM2018.log
/RMSM2018.nav
/RMSM2018.snm
/RMSM2018.synctex.gz
/.Rhistory
/RMSM2018.toc
/RMSM2018REVES.log
/RMSM2018REVES.nav
/RMSM2018REVES.snm
/RMSM2018REVES.synctex.gz
/RMSM2018REVES.toc
